/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
	padding-top: 50px;
}

/*
 * Global add-ons
 */
.sub-header {
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
	border-width: 0 0 1px;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
	display: none;
}

@media ( min-width : 768px) {
	.sidebar {
		position: fixed;
		top: 45px;
		bottom: 0;
		left: 0;
		z-index: 1000;
		display: block;
		overflow-x: hidden;
		overflow-y: auto;
		padding: 0;
		background-color : #f5f5f5;
		border-right: 1px solid #eee;
		background-color: #f5f5f5
	}
}

/* Sidebar navigation */
.nav-sidebar {
	margin-right: -21px; /* 20px padding + 1px border */
	margin-bottom: 20px;
	margin-left: -20px;
}

.nav-sidebar>li>a {
	padding-right: 20px;
	padding-left: 20px;
}

.nav-sidebar>.active>a, .nav-sidebar>.active>a:hover, .nav-sidebar>.active>a:focus
	{
	color: #fff;
	background-color: #428bca;
}

/*
 * Main content
 */
.main {
	padding: 20px;
}

@media ( min-width : 768px) {
	.main {
		padding-right: 40px;
		padding-left: 40px;
	}
}

.main .page-header {
	margin-top: 0;
}

/*
 * Placeholder dashboard ideas
 */
.placeholders {
	margin-bottom: 30px;
	text-align: center;
}

.placeholders h4 {
	margin-bottom: 0;
}

.placeholder {
	margin-bottom: 20px;
}

.placeholder img {
	display: inline-block;
	border-radius: 50%;
}

.main-menu {
	padding-left: 0;
}

.main-menu * {
	font-size: 10pt;
}

.main-menu li ul {
	margin: 0;
	padding: 0
}

.main-menu li {
	line-height: 39px;
	background-color: #fff;
	margin-bottom: -1px;
	background-color: #fff;
	border: 1px solid #dedede;
	border-width: 1px 0;
}

.main-menu li a {
	height: 35px;
	padding-top: 0px;
}

.main-menu li a:hover {
	text-decoration: none;
}

.main-menu li a span.button.switch {
	visibility: hidden
}

.main-menu.showIcon li a span.button.switch {
	visibility: visible
}

.main-menu li a.curSelectedNode {
	background-color: #EEEEEE;
	border-width: 0;
	height: 35px;
}

.main-menu li span {
	line-height: 20px;
}

.main-menu li span.button {
	margin-top: -7px;
}

.main-menu li span.button.switch {
	width: 16px;
	height: 16px;
}

.main-menu li span.button {
	background-image: url("images/left_menuForOutLook.png");
}

.main-menu li span.button.switch.level0 {
	width: 20px;
	height: 20px
}

.main-menu li span.button.switch.level1 {
	width: 20px;
	height: 20px
}

.main-menu li span.button.noline_open {
	background-position: 0 0;
}

.main-menu li span.button.noline_close {
	background-position: -18px 0;
}

.main-menu li span.button.noline_open.level0 {
	background-position: 0 -18px;
}

.main-menu li span.button.noline_close.level0 {
	background-position: -18px -18px;
}